html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: rgb(234, 237, 237);
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
}

.link {
  color: #0066c0;
  font-size: 1.3rem;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link--relative {
  position: relative;
  top: 2px;
}

.link--redirect {
  position: relative;
  top: 4px;
  font-size: 1.4rem;
}

/**
 * Basic typography style for copy text
 */
@font-face {
  font-family: "AmazonEmber";
  src: local("Amazon Ember"), local("AmazonEmber"), url("../fonts/AmazonEmber_W_Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AmazonEmber";
  src: local("Amazon Ember"), local("AmazonEmber"), url("../fonts/AmazonEmber_W_Bd.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AmazonEmber";
  src: local("Amazon Ember"), local("AmazonEmber"), url("../fonts/AmazonEmber_W_HeIt.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
body {
  color: rgb(34, 34, 34);
  font-family: "AmazonEmber", Arial, sans-serif !important;
}

code {
  font-family: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  padding: 5px 20px;
}
.header__basket {
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
}
.header__basket span:last-child {
  display: none;
}
.header__basket__value {
  color: #f08804;
  font-size: 1.6rem;
  position: relative;
  top: -8px;
}
.header__basket__value::before {
  content: "";
  display: block;
  position: absolute;
  left: -18px;
  top: 5px;
  background-image: url("https://images-eu.ssl-images-amazon.com/images/G/08/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937816_.png");
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
}
.header__basket__value--relative::before {
  left: -11px;
  top: 5px;
}
.header__burger__div {
  position: relative;
  top: -2px;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
}
.header__burger__div::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
}
.header__burger__div::before {
  content: "";
  position: absolute;
  top: -7px;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
}
.header__burger__input {
  position: absolute;
  top: 15px;
  width: 25px;
  height: 25px;
  z-index: 1000;
  opacity: 0;
}
.header__burger__input ~ .header__blur {
  display: none;
}
.header__burger__input:checked ~ .header__blur {
  display: block;
  position: absolute;
  left: 0px;
  top: 51px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color ease-in-out 0.5s;
  z-index: 101;
}
.header__burger__input:checked + .header__burger__div {
  transform: rotate(45deg);
  top: -2px;
  transition: transform 0.1s;
}
.header__burger__input:checked + .header__burger__div::after {
  display: none;
}
.header__burger__input:checked + .header__burger__div::before {
  transform: rotate(90deg);
  top: 0;
}
.header__burger__input:checked ~ .header__menu {
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.header__dropdown::after {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #9e9e9e;
  position: absolute;
  top: 29px !important;
  margin-left: 7px;
}
.header__links {
  margin-top: 20px;
}
.header__logo {
  position: relative;
  top: 5px;
}
.header__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  padding: 15px 20px 40px 20px;
  height: calc(100vh - 50px);
  line-height: 1.2;
  background-color: #131921;
  transform: translateX(-100vw);
  transition: transform 0.5s ease;
  z-index: 102;
}
.header__menu .header__link:first-of-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}
.header__menu .header__link {
  text-decoration: underline;
  line-height: 1.3;
}
.header__search, .header__search__temporary {
  display: grid;
  grid-template: 40px/1fr 45px;
  height: 40px;
}
.header__search__temporary {
  display: none;
  flex: 1;
}
.header__search__btn, .header__search__input {
  padding: 0;
  border: none;
}
.header__search__input {
  padding-left: 10px;
}
.header__search__btn {
  background-image: url("https://images-eu.ssl-images-amazon.com/images/G/08/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937816_.png");
  background-position: 2px -280px;
  background-color: #febd69;
}
.header__search__btn:hover {
  background-color: #F3A847;
  cursor: pointer;
}
@media (min-width: 37.5em) {
  .header__basket__value {
    top: -4px;
  }
  .header__logo {
    margin-left: 15px;
  }
  .header__search {
    display: none;
  }
  .header__search__temporary {
    display: grid;
    margin: 0 30px 0 20px;
  }
  .header__search__input {
    border-radius: 4px 0 0 4px;
  }
  .header__search__btn {
    border-radius: 0 4px 4px 0;
  }
}
@media (min-width: 55em) {
  .header {
    justify-content: initial;
  }
  .header__basket {
    padding: 10px 15px 5px 20px;
    height: 45px;
  }
  .header__basket:hover {
    outline: 1px solid #fff;
  }
  .header__basket__value {
    font-size: 1.4rem;
    top: -9px;
  }
  .header__basket__value::before {
    left: -18px;
    top: 2px;
  }
  .header__basket__value--relative::before {
    left: -13px;
    top: 2px;
  }
  .header__basket span:last-child {
    display: block;
    position: relative;
    top: 5px;
    left: 12px;
    font-size: 1.4rem;
  }
  .header__burger__input, .header__burger__div, .header__blur, .header__burger__input:checked ~ .header__blur {
    display: none;
  }
  .header__dropdown::after {
    top: 24px;
    margin-left: 5px;
    border-top: 4px solid #9e9e9e;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .header__links {
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 40px;
  }
  .header__line1 {
    position: relative;
    top: 2px;
    font-size: 1.2rem;
  }
  .header__line2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .header > .header__link:hover {
    outline: 1px solid #fff;
  }
  .header__link--padding {
    padding-right: 18px !important;
  }
  .header__logo {
    position: static;
    padding-top: 7px;
    margin-left: 0;
  }
  .header__menu {
    all: unset;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 20px;
  }
  .header__menu .header__link {
    padding: 5px;
    text-decoration: none;
  }
  .header__menu .header__link:hover {
    padding: 5px;
    text-decoration: none;
    outline: 1px solid #fff;
  }
  .header__search {
    display: grid;
    margin: 0 40px 0 10px;
    flex: 1;
  }
  .header__search__temporary {
    display: none;
  }
  .header__menu .header__link:first-of-type {
    margin: 0 35px 0 0;
  }
  .header__menu .header__link:last-of-type {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

.product {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}
.product > img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
  object-fit: contain;
}
.product__comments {
  font-size: 1.3rem;
}
.product__comments::before {
  content: "";
  display: inline-block;
  background-image: url("https://images-na.ssl-images-amazon.com/images/G/08/AmazonStores/AmazonUISkinSky-sprite_sky_color._CB485926515_.png");
  background-position: -98px -134px;
  background-size: 385px;
  width: 67px;
  height: 13px;
}
.product__info {
  align-self: flex-start;
  height: 100px;
  font-size: 1.6rem;
}
.product__info > p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product__price {
  margin-block: 13px;
  font-size: 2.1rem;
}
.product__price__logo {
  font-size: 1.2rem;
  position: relative;
  top: -10px;
  left: 3px;
}
.product__rating {
  margin-top: 10px;
}
@media (min-width: 43em) {
  .product {
    width: calc(50% - 5px);
  }
}
@media (min-width: 64em) {
  .product {
    width: calc(25% - 7.5px);
  }
  .product__info {
    text-align: left;
  }
}

.item {
  padding-block: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}
.item__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.item__delete {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.item__extra {
  margin-bottom: 10px;
}
.item__extra p, .item__extra label, .item__extra a {
  position: relative;
  top: -2px;
  font-size: 1.2rem;
}
.item__extra input, .item__extra label {
  margin-top: 5px;
}
.item__extra a, .item__extra label {
  margin-left: 5px;
}
.item__extra p {
  color: #007600;
  margin-top: 11px;
  margin-bottom: 2px;
}
.item__image {
  width: 10em;
}
.item__price {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 1.7rem;
}
@media (min-width: 320px) and (max-width: 400px) {
  .item__price {
    position: inherit;
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
}
.item__quantity {
  position: relative;
}
.item__quantity__value, .item__quantity__value--margin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6em;
  text-align: left;
  font-size: 1.35rem;
  background-color: transparent;
  border-radius: 10px;
  pointer-events: none;
  z-index: 100;
}
.item__quantity__value::after, .item__quantity__value--margin::after {
  content: url("../components/Checkout/arrow.png");
  top: -8px;
  position: absolute;
  transform: scale(0.5);
}
.item__quantity__value {
  padding-left: 10px;
}
.item__quantity__value::after {
  right: 8px;
}
.item__quantity__value--margin {
  padding-left: 8px;
}
.item__quantity__value--margin::after {
  right: 2px;
}
.item__quantity > select {
  padding: 0.45em 0.5em;
  width: 5.5em;
  font-size: 0.9em;
  color: transparent;
  background-color: rgba(227, 230, 230, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.item__quantity > select:active {
  box-shadow: 0 0 2px 3px #C0EAF1;
}
.item__quantity > select:hover {
  cursor: pointer;
  background-color: rgb(234, 237, 237);
}
.item__quantity > select > option {
  color: black;
  background-color: #fff;
}
.item__title {
  margin-block: 7px;
}
@media (min-width: 788px) {
  .item {
    overflow: hidden;
    text-align: left;
    padding-bottom: 15px;
  }
  .item__actions {
    justify-content: start;
  }
  .item__extra p {
    margin-top: 10px;
  }
  .item__image {
    float: left;
    height: 180px;
    object-fit: contain;
    margin: 0 20px 0 0;
  }
  .item__title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 90%;
    font-size: 1.8rem;
  }
  .item__price {
    position: initial;
    margin-top: 0;
    float: right;
    margin-left: 30px;
  }
}

.subtotal {
  max-height: 250px;
  font-size: 1.8rem;
  text-align: center;
}
.subtotal--align {
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 0 15px 0;
  font-size: 1.8rem;
  text-align: right;
}
.subtotal__container {
  position: relative;
  padding-left: 28px;
}
.subtotal__info {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 20px;
  text-align: center;
}
.subtotal__info--success {
  color: #067D62;
  position: relative;
}
.subtotal__info--success::before {
  content: "";
  position: absolute;
  left: -25px;
  margin-right: -10px;
  background-image: url("https://m.media-amazon.com/images/S/sash/3-fm1Jbg4IHlyhq.png");
  background-position: -457px -144px;
  height: 18px;
  width: 18px;
}
.subtotal__price {
  margin-bottom: 5px;
}
.subtotal__price--margin {
  margin-left: -7px;
}
.subtotal__price ~ label {
  position: relative;
  top: -1px;
  left: 5px;
  font-size: 1.4rem;
}
.subtotal__proceed {
  width: 100%;
  margin-top: 15px;
  padding: 0.7rem 0.9rem;
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #FFD814;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  cursor: pointer;
}
.subtotal__proceed:hover {
  background-color: #F7CA00;
}
@media (min-width: 49.25em) {
  .subtotal--align {
    display: block;
    padding-bottom: 0;
  }
}
@media (min-width: 64em) {
  .subtotal__info {
    text-align: left;
  }
}

.slider {
  display: none;
}
@media (min-width: 64em) {
  .slider {
    display: block;
    position: relative;
  }
  .slider__arrow {
    display: inline-block;
    background-image: url("https://m.media-amazon.com/images/S/sash/ydDD9hnRfziI$y7.png");
    width: 34px;
    height: 52px;
  }
  .slider__arrow--prev {
    background-size: 68px 52px;
  }
  .slider__arrow--next {
    background-position: -34px 0;
    background-size: 68px 52px;
  }
  .slider__arrow__container {
    position: absolute;
    top: 20%;
    transform: translateY(-48%);
    height: clamp(135px, 17vw, 253px);
    width: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    z-index: 10000;
  }
  .slider__arrow__container:focus {
    border: 2px solid #fff;
    border-radius: 5px;
  }
  .slider__arrow__container--prev {
    left: 0;
  }
  .slider__arrow__container--next {
    right: 0;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}
.login__container {
  width: 330px;
  padding: 26px 20px;
  border: 1px #ddd solid;
  border-radius: 4px;
  position: relative;
}
.login__container button {
  margin-top: 14px;
  padding-block: 7px;
  color: #111;
  font-size: 1.3rem;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  background: linear-gradient(#f7dfa5, #f0c14b);
  cursor: pointer;
}
.login__container button:hover {
  background: #f0c14b;
}
.login__container button[disabled]:hover,
.login__container button[disabled] {
  cursor: auto;
  border: 1px solid #999;
  background: linear-gradient(#f7dfa5, #f0c14b);
  color: #666666;
}
.login__container form ~ p:nth-of-type(2) {
  font-size: 1.3rem;
}
.login__container h1 {
  margin: 0 0 14px 0;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1.2;
}
.login__container button {
  width: 100%;
}
.login__container label {
  font-size: 1.3rem;
  font-weight: bold;
}
.login__container label:not(label:first-child) {
  margin-top: 14px;
}
.login__container--margin {
  margin-block: 30px;
}
.login__container p {
  margin: 15px 0 22px 0;
  font-size: 1.2rem;
  line-height: 1.5;
}
.login__container p > a:only-child {
  margin-left: 5px;
}
.login__input {
  width: 100%;
  height: 31px;
  margin: 6px 0 10px 0;
  padding: 3px 7px;
  background-color: #fff;
  font-size: 1.3rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  outline: 1px solid #a6a6a6;
}
.login__input:focus {
  outline: 1px solid #d06603;
  box-shadow: 0 0 5px 2px rgba(255, 143, 24, 0.7294117647);
}
.login__input--error {
  outline: 1px solid #d00;
  box-shadow: 0 0 0 3px rgba(221, 0, 0, 0.1) inset;
}
.login__input__error__message {
  padding-left: 16px;
  text-align: left;
  font-size: 1.2rem;
  line-height: 15px;
  position: relative;
  margin-bottom: 5px;
  color: #c40000;
}
.login__input__error__message::before {
  content: "";
  height: 13px;
  width: 14px;
  background-image: url("https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png");
  background-position: -141px -130px;
  position: absolute;
  left: 2px;
  top: 2px;
}
.login__logo {
  display: inline-block;
  height: 31px;
  width: 103px;
  margin: 14px 0 14px 0;
  background-image: url("https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png");
  background-position: -5px -130px;
  position: relative;
  left: -12px;
}
.login__logo::after {
  content: "";
  position: absolute;
  right: -15px;
  width: 12px;
  height: 28px;
  background-image: url("https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png");
  background-position: -127px -200px;
}
.login__message {
  width: 330px;
  margin-bottom: 20px;
  padding: 14px 18px 14px 63px;
  font-size: 1.7rem;
  border-radius: 4px;
}
.login__message--red {
  color: #c40000;
  border: 1px solid #c40000;
  box-shadow: 0 0 0 4px #fcf4f4 inset;
}
.login__message--red h4::before {
  background-position: -248px -35px;
}
.login__message h4 {
  margin: 0;
  padding-bottom: 4px;
  position: relative;
}
.login__message h4::before {
  content: "";
  height: 27px;
  width: 30px;
  background-image: url("https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png");
  position: absolute;
  left: -45px;
}
.login__message p {
  color: #111;
  font-size: 13px;
  line-height: 19px;
}
.login__new-account {
  width: 328px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.login__new-account > h5 {
  display: inline-block;
  margin-bottom: 12px !important;
  padding: 0 8px 0 7px;
  color: #767676;
  background-color: #fff;
  font-size: 12px;
  font-weight: normal;
  z-index: 2;
}
.login__new-account > h5::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  z-index: -1;
}
.login__password {
  display: flex;
  justify-content: space-between;
  margin-block: 14px;
}
.login__sign-up {
  width: 100%;
  color: #111;
  font-size: 1.3rem;
  background: linear-gradient(#f7f8fa, #e7e9ec);
  border: 1px solid;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-radius: 3px;
  padding-block: 7px;
  cursor: pointer;
}
.login__sign-up:hover {
  background: #e7e9ec;
}
@media (min-width: 20em) and (max-width: 21.25em) {
  .login__container {
    width: 100%;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
  }
  .login__new-account {
    width: 100%;
  }
  .login__sign-up {
    width: 97%;
  }
}

.home {
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
}
.home__banner {
  display: none;
}
.home__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 43em) {
  .home__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 64em) {
  .home__banner {
    display: inline;
    width: 100%;
    mask-image: linear-gradient(black 50%, transparent);
  }
  .home__container {
    position: absolute;
    top: 41.6%;
    padding-inline: 20px;
  }
}

.checkout {
  padding: 10px;
}
.checkout__ad, .checkout__sub-container, .checkout__connect, .checkout__blank {
  background-color: #fff;
}
.checkout__ad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  padding: clamp(0.5rem, 1vw, 1.5rem);
  cursor: pointer;
}
.checkout__ad__button {
  display: none;
  padding: 0.7rem 0.9rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
}
.checkout__ad__button:hover {
  background-color: rgba(234, 237, 237, 0.3);
}
.checkout__ad__content {
  font-size: 1.4rem;
  margin: 0 10px;
  line-height: 1.3em;
}
.checkout__ad__image {
  width: 9rem;
}
.checkout__blank {
  min-height: 60px;
  margin-top: 10px;
}
.checkout__sub-container {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
@media (min-width: 33.125em) {
  .checkout__cart {
    text-align: inherit;
  }
}
.checkout__cart__image {
  display: none;
  float: left;
  margin-right: 10px;
}
@media (min-width: 33.125em) {
  .checkout__cart__image {
    display: inline;
    width: 17rem;
  }
}
.checkout__cart__p {
  margin-bottom: 5px;
  text-align: right;
  font-size: 1.2rem;
  color: #565959;
}
.checkout__cart__title {
  font-size: clamp(2.1rem, 1.5vw, 2.8rem);
  margin: 0;
}
.checkout__connect {
  min-width: 215px;
  padding: 0.5em;
  color: #111;
  font-size: clamp(1.4rem, 1vw, 1.6rem);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  cursor: pointer;
}
.checkout__connect--signIn {
  background-color: #FFD814;
  margin: 20px 10px 0 0;
}
.checkout__connect--signIn:hover {
  background-color: #F7CA00;
}
.checkout__connect--signUp {
  margin: 7px 10px 0 0;
}
.checkout__connect--signUp:hover {
  background-color: rgba(234, 237, 237, 0.2);
}
.checkout__warning {
  font-size: 1.2rem;
}
.checkout__warning p:first-child {
  margin: 10px 0 5px 0;
}
@media (min-width: 64em) {
  .checkout {
    display: grid;
    grid-template-columns: 1fr 35rem;
    grid-template-areas: "ad      subtotal" "cart    subtotal" "blank   .       " "warning .       ";
    padding: 18px;
  }
  .checkout__ad {
    grid-area: ad;
    max-width: 72.6rem;
  }
  .checkout__adButton {
    display: block;
  }
  .checkout__blank {
    grid-area: blank;
  }
  .checkout__cart {
    grid-area: cart;
  }
  .checkout__cart__image {
    margin-bottom: 12px;
    width: clamp(12rem, 24%, 60rem);
  }
  .checkout__subtotal {
    grid-area: subtotal;
    margin-left: 20px;
  }
  .checkout__warning {
    grid-area: warning;
  }
}

.nomatch {
  height: 100vh;
  background-color: #fff;
  padding: 30px 0;
  color: #6C7778;
  font-family: Helvetica;
  font-weight: lighter;
}
.nomatch .container {
  width: 60%;
  margin: 0 auto;
}
.nomatch .container a {
  color: #0099D9;
  cursor: pointer;
}
.nomatch .container > a {
  display: block;
  text-align: center;
}
.nomatch .container img {
  margin-top: 15px;
  max-width: 90%;
}
.nomatch .container img + p {
  text-align: left;
}
.nomatch .container > p {
  margin: 10px 0;
}
.nomatch .container > p:first-child {
  font-size: 8rem;
}
.nomatch .container > p:nth-child(2) {
  font-size: 4.8rem;
  line-height: 1;
}
.nomatch .container > p:nth-child(3),
.nomatch .container a {
  font-size: 2.4rem;
}

.comingSoon {
  width: 100%;
  background-color: #fff;
  height: 100vh;
}
.comingSoon__img {
  margin-top: 50px;
  margin-left: 50%;
  transform: translate(-50%);
}
.comingSoon p, .comingSoon a {
  font-size: 2.4rem;
}
.comingSoon p {
  text-align: center;
  margin-top: 30px;
}
.comingSoon a {
  color: #0099D9;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

.button {
  margin-top: 14px;
  padding-block: 7px;
  color: #111;
  font-size: 1.3rem;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  background: linear-gradient(#f7dfa5, #f0c14b);
  cursor: pointer;
}
.button:hover {
  background: #f0c14b;
}
.button--add-to-basket {
  width: 100%;
  font-size: 1.4rem;
}

/*# sourceMappingURL=App.css.map */
