.slider {
  display: none;

  @media (min-width: 64em) {
    display: block;
    position: relative;
  
    &__arrow {
      display: inline-block;
      background-image: url("https://m.media-amazon.com/images/S/sash/ydDD9hnRfziI$y7.png");
      width: 34px;
      height: 52px;
      
      &--prev {
        background-size: 68px 52px;
      }
  
      &--next {
        background-position: -34px 0;
        background-size: 68px 52px;
      }
    }
  
    &__arrow__container {
      position: absolute;
      top: 20%;
      transform: translateY(-48%);
      height: clamp(135px, 17vw, 253px);
      width: 80px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      user-select: none;
      z-index: 10000;
  
      &:focus {
        border: 2px solid #fff;
        border-radius: 5px;
      }
  
      &--prev {
        left: 0;
      }
  
      &--next {
        right: 0;
      }
    }
  }
}
